body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alterado de center para flex-start */
  min-height: 100vh; /* Alterado de height para min-height */
  padding-top: 20px; /* Adicionado espaço no topo */
  margin: 0;
}

h1 {
  color: #333;
  text-align: center; /* Centraliza o título */
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 90%; /* Alterado para melhor adaptar-se a telas menores */
  margin: 20px; /* Adiciona margem para espaçamento */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

input[type="file"],
input[type="text"],
textarea,
button {
  margin-bottom: 16px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 16px;
}

input[type="file"] {
  border: none;
}

textarea {
  resize: vertical;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.preview-container {
  margin-bottom: 16px;
  text-align: center;
}

.preview-container img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.photo-container {
  text-align: center;
  width: 200px; /* Largura fixa para consistência */
}

.photo {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Media queries para responsividade */
@media (max-width: 600px) {
  .container {
      padding: 10px;
  }

  input[type="text"],
  textarea,
  button {
      font-size: 14px;
  }

  button {
      padding: 8px;
  }
}
